@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;

  /* Brand / Static Colors */
  --pri-yellow: 46 100% 48%; /* #F5BB00 */
  --pri-white: 0 0% 97%; /* #F7F7F7 */
  --pri-black: 210 29% 7%; /* #0A0E12 */

  /* HSL-based colors */
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --primary: 46 100% 48%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 20% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 0 0% 92%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;

  /* Charts */
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;

  /* Sidebar */
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 222.2 47.4% 11.2%;
  --sidebar-primary: 222.2 47.4% 11.2%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 210 40% 96.1%;
  --sidebar-accent-foreground: 222.2 47.4% 11.2%;
  --sidebar-border: 214.3 31.8% 91.4%;
  --sidebar-ring: 215 20.2% 65.1%;
}

.dark {
  /* HSL-based colors */
  --background: 240 2% 8%;
  /* --background: 222 47% 4%; */
  --foreground: 210 40% 95%;
  --card: 240 2% 8%;
  /* --card: 222 47% 4%; */
  --card-foreground: 210 40% 95%;
  --popover: 240 2% 8%;
  /* --popover: 222 47% 4%; */
  --popover-foreground: 210 40% 95%;
  --primary: 46 100% 48%;
  --primary-foreground: 210 40% 98%;
  --secondary: 0 0% 12%;
  --secondary-foreground: 210 40% 95%;
  --muted: 0 0% 12%;
  --muted-foreground: 240 5% 65%;
  /* --muted-foreground: 205 20% 70%; */
  --accent: 0 0% 15%;
  --accent-foreground: 210 40% 95%;
  --destructive: 0 63% 41%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 15%;
  /* --border: 217 19% 15%; */
  --input: 0 0% 20%;
  --ring: 0 0% 20%;

  /* Charts */
  --chart-1: 220 70% 50%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 340 75% 55%;
  /* --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%; */

  /* Sidebar */
  --sidebar: 0 0% 12%;
  --sidebar-foreground: 210 40% 98%;
  --sidebar-primary: 210 40% 98%;
  --sidebar-primary-foreground: 222.2 47.4% 11.2%;
  --sidebar-accent: 215 20.2% 65.1%;
  --sidebar-accent-foreground: 210 40% 98%;
  --sidebar-border: 217 33% 17%;
  --sidebar-ring: 217 33% 17%;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

a.active {
  @apply text-primary underline font-semibold;
}

.profile-dropdown a.active {
  @apply text-green-600 no-underline font-bold hover:font-bold;
}

.dashboard-navbar a.active {
  @apply text-[#937000] no-underline font-semibold relative;
}

.dashboard-navbar a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60%;
  height: 4px;
  width: 120%;
  border-radius: 12px;
  background-color: #f5bb00; /* priYellow */
}

.scroll-disabled {
  overflow: hidden !important;
}

.checkbox-container-bisat {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Hide the default checkbox */
.checkbox-container-bisat .checkbox-input-bisat {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: "100%";
  height: "100%";
  inset: 0;
  background-color: #fef8e5;
  border: 1px solid #f9d666;
  border-radius: 4px;
  outline: none;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

/* Checkbox background and border when checked */
.checkbox-container-bisat .checkbox-input-bisat:checked {
  border-color: #dea512;
  background-color: #fbf9f1;
}

/* Label for the checkmark */
.checkbox-label-bisat {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  transition: color 0.3s ease;
}

/* Custom checkmark styling */
.checkbox-container-bisat .checkbox-input-bisat:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* Hover effect */
.checkbox-container-bisat:hover .checkbox-input-bisat {
  background-color: white;
  border-color: #f9d666;
}

.Toastify__toast--error {
  border: 1px solid #f3f4f6;
  border-radius: 12px !important;
  background: linear-gradient(
    91.44deg,
    #fef2f2 6.53%,
    #ffffff 99.77%
  ) !important;
}

.Toastify__toast--error::after {
  content: url("./assets/icons/Cancel.svg");
  position: absolute;
  left: 375px;
  padding-top: 2px !important;
}
.Toastify__toast--error::before {
  content: url("./assets/icons/error-toast.svg");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 8px;
}
.Toastify__toast--success {
  border: 1px solid #f3f4f6 !important;
  border-radius: 12px !important;
  background: linear-gradient(91.44deg, #ebf9f0 100%, #ffffff 100%) !important;
}
.Toastify__toast--success::before {
  content: url("./assets/icons/success.png");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 8px;
}
.Toastify__toast--success::after {
  content: url("./assets/icons/Cancel.svg");
  position: absolute;
  left: 375px;
  padding-top: 2px !important;
}
.Toastify__toast--warning {
  border: 1px solid #f3f4f6 !important;
  border-radius: 12px !important;
  background: linear-gradient(
    90.84deg,
    #fef8e5 1.19%,
    #ffffff 93.64%
  ) !important;
}
.Toastify__toast--warning::before {
  content: url("./assets/icons/warning-toast.svg");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 8px;
}
.Toastify__toast--warning::after {
  content: url("./assets/icons/Cancel.svg");
  position: absolute;
  left: 375px;
  padding-top: 2px !important;
}
.Toastify__toast-body {
  font-size: 14px;
  padding-left: 4px;
  line-height: 24px;
  padding: 5px;
  padding-top: 5px;
  width: 411px !important;
  font-weight: 400;
  margin-left: 25px !important;
}
.Toastify__toast > button > svg {
  display: none;
}

.country-select {
  border: 0;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 96px; */
  height: 100%;
  border: 1px dashed hsl(var(--border));
  border-radius: 8px;
  cursor: pointer;
  background-color: hsl(var(--accent));
  text-align: center;
  position: relative;
}

.file-upload-box:hover {
  border-color: hsl(var(--primary));
}

.file-upload-icon {
  font-size: 36px;
  color: hsl(var(--secondary-foreground));
}

.file-upload-text {
  font-size: 16px;
  color: #515b6e;
  margin-top: 10px;
}

.file-upload-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.error-text {
  color: hsl(var(--destructive));
  font-size: 12px;
  margin-top: 10px;
}

.video-feed {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capture-button,
.stop-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.capture-button {
  background-color: #007bff;
  color: white;
}

.capture-button:hover {
  background-color: #0056b3;
}

.stop-button {
  background-color: #ff4d4f;
  color: white;
}

.stop-button:hover {
  background-color: #d32f2f;
}

.selfie-image {
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.bst-kyc-banner {
  background-image: url("./assets/illustrations/Backgroundpattern.svg");
  width: 100%;
  height: 100%;
  background: linear-gradient(91.55deg, #0a0e12 0.28%, #243342 126.95%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-mobile-app {
  background-image: url("./assets/landingPage/bg-boxes.png");
  background-size: cover;
}

.bottom-blur {
  background: linear-gradient(to bottom, transparent, #0a0e12);
  filter: blur(10px);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows/spinners in Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

input:read-only {
  @apply pointer-events-none border opacity-70 outline-none bg-neutral-100 dark:bg-secondary;
}

html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
