@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

a.active {
  @apply text-primary underline font-semibold;
}

.profile-dropdown a.active {
  @apply text-green-600 no-underline font-bold hover:font-bold;
}

.dashboard-navbar a.active {
  @apply text-[#937000] no-underline font-semibold relative;
}

.dashboard-navbar a.active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60%;
  height: 4px;
  width: 120%;
  border-radius: 12px;
  background-color: #f5bb00; /* priYellow */
}

.scroll-disabled {
  overflow: hidden !important;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
  background-color: #fef8e5; /* Light red background */
  border: 1px solid #f9d666; /* Red border */
  border-radius: 4px; /* Rounded edges */
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Checkbox background and border when checked */
.checkbox-container input[type="checkbox"]:checked {
  background-color: #fef8e5; /* Green background */
  border-color: #f9d666; /* Dark green border */
}

/* Label for the checkmark */
.checkbox-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: transparent; /* Hidden by default */
  pointer-events: none;
  transition: color 0.3s ease;
}
/* Checkbox background and border when checked */
.checkbox-container input[type="checkbox"]:checked {
  background-color: #fef8e5; /* Light green background */
}

/* Custom checkmark styling */
.checkbox-container input[type="checkbox"]:checked::after {
  content: "✔"; /* Add the checkmark symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: black; /* Green checkmark color */
}

/* Hover effect */
.checkbox-container input[type="checkbox"]:hover {
  background-color: white; /* Blue background when hovered */
  border: 2px solid #f9d666;
}

.Toastify__toast--error {
  border: 1px solid #f3f4f6;
  border-radius: 12px !important;
  background: linear-gradient(
    91.44deg,
    #fef2f2 6.53%,
    #ffffff 99.77%
  ) !important;
}

.Toastify__toast--error::after {
  content: url("./assets/icons/Cancel.svg");
  position: absolute;
  left: 375px;
  padding-top: 2px !important;
}
.Toastify__toast--error::before {
  content: url("./assets/icons/error-toast.svg");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 8px;
}
.Toastify__toast--success {
  border: 1px solid #f3f4f6 !important;
  border-radius: 12px !important;
  background: linear-gradient(91.44deg, #ebf9f0 100%, #ffffff 100%) !important;
}
.Toastify__toast--success::before {
  content: url("./assets/icons/success.png");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 8px;
}
.Toastify__toast--success::after {
  content: url("./assets/icons/Cancel.svg");
  position: absolute;
  left: 375px;
  padding-top: 2px !important;
}
.Toastify__toast--warning {
  border: 1px solid #f3f4f6 !important;
  border-radius: 12px !important;
  background: linear-gradient(
    90.84deg,
    #fef8e5 1.19%,
    #ffffff 93.64%
  ) !important;
}
.Toastify__toast--warning::before {
  content: url("./assets/icons/warning-toast.svg");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 8px;
}
.Toastify__toast--warning::after {
  content: url("./assets/icons/Cancel.svg");
  position: absolute;
  left: 375px;
  padding-top: 2px !important;
}
.Toastify__toast-body {
  font-size: 14px;
  padding-left: 4px;
  line-height: 24px;
  padding: 5px;
  padding-top: 5px;
  width: 411px !important;
  font-weight: 400;
  margin-left: 25px !important;
}
.Toastify__toast > button > svg {
  display: none;
}

.country-select {
  border: 0;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  border: 2px dashed #d6dae1;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9fb;
  text-align: center;
  position: relative;
}

.file-upload-box:hover {
  background-color: #f1f1f1;
}

.file-upload-icon {
  font-size: 36px;
  color: #888;
}

.file-upload-text {
  font-size: 16px;
  color: #515b6e;
  margin-top: 10px;
}

.file-upload-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.video-feed {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capture-button,
.stop-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.capture-button {
  background-color: #007bff;
  color: white;
}

.capture-button:hover {
  background-color: #0056b3;
}

.stop-button {
  background-color: #ff4d4f;
  color: white;
}

.stop-button:hover {
  background-color: #d32f2f;
}

.selfie-image {
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.bst-kyc-banner {
  background-image: url("./assets/illustrations/Backgroundpattern.svg");
  width: 100%;
  height: 100%;
  background: linear-gradient(91.55deg, #0a0e12 0.28%, #243342 126.95%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-mobile-app {
  background-image: url("./assets/landingPage/bg-boxes.png");
  background-size: cover;
}

.bottom-blur {
  background: linear-gradient(to bottom, transparent, #0a0e12);
  filter: blur(10px);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows/spinners in Firefox */
.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

input:read-only {
  @apply pointer-events-none border outline-none bg-neutral-100;
}
